@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.fifthPage{
    background:linear-gradient(to right, #f001aceb 0%, #5900be 100%);
    height: 55vh;
    font-size: 4rem;
}
.fifthContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center no-repeat, linear-gradient(-45deg, rgb(92, 15, 187) -5%, rgb(242, 106, 188));
}
.text1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 991px) {
    .ready_box{
        font-size: 3rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .ready_box{
        font-size: 2rem;
    }
  }