
.navbar{
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotify{
    width: 8rem;
    height: 2.2rem;

}
.nav{
    
    width: 40%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.links:hover{
    color: rgb(48, 150, 48);
    cursor: pointer;
}



